WP_PORT=21601
ADMINER_PORT=21602
MAILPIT_PORT=21603

WP_DB_NAME=wordpress
WP_DB_USER=wordpress
WP_DB_PASSWORD=wordpress
WP_DB_ROOT_PASSWORD=root

WP_URL_SYNC_ATTEMPTS=15
WP_SITE_TITLE="Development Assistant Local"
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=admin
WP_ADMIN_EMAIL=admin@example.com

REQUIRED_PLUGINS="query-monitor wp-crontrol user-switching wp-migrate-db"

XDEBUG_MODE=off
XDEBUG_START_WITH_REQUEST=trigger
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=21699
XDEBUG_DISCOVER_CLIENT_HOST=0
XDEBUG_IDEKEY=DEVELOPMENT_ASSISTANT
PHP_IDE_CONFIG=serverName=development-assistant

BROWSERSYNC_PROXY=https://localhost:21601
BROWSERSYNC_PORT=9999

WPORG_PLUGIN_SLUG=development-assistant
WPORG_SVN_USERNAME=''
WPORG_SVN_PASSWORD=''
