/assets
node_modules
release/*
!release/.gitkeep
vendor
.phpunit.result.cache
.DS_Store
.env
.env.bak
ehthumbs.db
Thumbs.db
tmp
docker/certs/*
!docker/certs/.gitkeep
backups/db/*
!backups/db/.gitkeep
wp/*
!wp/.gitkeep
