.da-setting-status {
	font-size: 13px;
	cursor: default;
}

.da-setting-status__label {
	padding: 3px 12px;
	color: var(--da-white);
	border-radius: 50px;
}

.da-setting-status__label_disabled {
	background-color: var(--da-gray-medium);
}

.da-setting-status__label_success {
	background-color: var(--da-success);
}

.da-setting-status__label_failure {
	background-color: var(--da-error);
}

.da-setting-status__description {
	margin-top: 8px;
	color: var(--da-gray-text);
}
