@import url("../shared/variables.css");
@import url("./checkbox.css");
@import url("./text.css");
@import url("./status.css");

.da-setting-page form {
	max-width: 760px;
}

.da-setting-page .form-table th {
	vertical-align: middle;
}

.da-setting-list {
	padding-left: 20px;
	list-style: disc;
}

.da-setting-section__description {
	margin-top: 1.5em;
}

h2 + .da-setting-section__description {
	margin-top: 0;
}

.da-setting-page__title-info-link {
	width: 18px;
	height: 18px;
	margin-left: 7px;
	font-size: 18px;
	text-decoration: none;
}

.da-setting__error-text {
	color: var(--da-error);
}
