.da-setting-text {

	input {
		width: 300px;

		&[type="number"] {
			width: 100px;
		}
	}
}

.da-setting-text__description {
	display: block;
	margin-top: 6px;
	font-size: 13px;
	color: $gray-text;
}
